body {
    height: 100vh;
    margin: 0;
    background-color: #212F3D;
    color: #FFFFFF;
    font-family: "VT323", monospace;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topHalfOfPage {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Header */

.header {
    background-color: #17202A;
    padding: 30px;
}

h1 {
    font-size: 64px;
    margin: 0;
    padding: 0;
}

/* Quote box */

.instructions {
    background-color: #D5D8DC;
    border-radius: 20px;
    max-width: 850px;
    max-height: 135px;
    padding: 0;
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    color: #17202A;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-self: center;
}

.instructionsText {
    padding: 20px;
}

.instructionsCredit {
    font-weight: bold;
    text-align: right;
    padding: 0;
    margin-top: 10px;
}

.instructionsPic {
    padding: 0;
    margin: 0;
}

.instructionsPic img {
    transform: translate(-10px, -15px);
}

/* Gameplay area */

.middle {
    height: 384px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle, .buttons {
    max-width: 850px;
    margin: auto;
}

.winSpan {
    color: #AAFF00;
}

.loseSpan {
    color: #FF4433;
}

.battleground {
    display: flex;
    justify-content: space-evenly;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 9px;
}

.battlegroundLeft, .battlegroundRight {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
}

#battleCommentaryDiv {
    padding: 0 0 20px 0;
}

#computerScoreDiv, #playerScoreDiv {
    height: 32px;
    width: 260px;
    padding: 20px;
}

#computerIconDiv, #playerIconDiv {
    height: 230px;
    width: 230px;
}

button {
    background-color: #566573;
    color: #D5D8DC;
    font-family: "VT323", monospace;
    font-size: 32px;
    width: 125px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 9px #2C3E50;
}

button img {
    margin-bottom: -10px;
    opacity: 0.7;
}

button:hover, input:hover {
    background-color: #808B96;
    color: #FFFFFF;
    box-shadow: 0 5px #273746;
    transform: translateY(5px);
    cursor: pointer;
}

button:hover img {
    opacity: 1;
}

input {
    background-color: #566573;
    color: #D5D8DC;
    font-family: "VT323", monospace;
    font-size: 32px;
    width: 225px;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 9px #2C3E50;
}

/* Footer */

.footer {
    background-color: #17202A;
    font-family:'Courier New', Courier, monospace;
    font-size: 12px;
    color: #566573;
    padding: 10px;
}

.footer a:link, .footer a:visited, .footer a:active {
    color: #55768F;
}

.footer a:hover {
    color: #5588AB;
}