body {
    background-color: #1C2833;
    color: #FFFFFF;
    font-family: "VT323", monospace;
    font-size: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

div {
    border: 2px solid red;
}

.battleground, .chooseYourWeapon {
    display: flex;
    justify-content: space-evenly;
}

.battlegroundLeft, .battlegroundRight {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    margin: 0;
    padding: 0;
}